  h1{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px 1px rgb(0, 0, 0);
  }

  /* Con este la transision de los colores sera mas suave. */
  .letter {
    transition: color 1000ms; 
  }
  
  /* Diceno de el form */
  #meme-form {
    display: flex;
    align-items: center;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
  }
  
  /* Diceno de el contenedor de meme(Su posicion.) */
  #meme-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem auto;
    max-width: 800px;
  }
  
  /* Detalles de el contenedor */
  .meme {
    position: relative;
    margin: 1rem;
    border-radius: 5px;
     overflow: hidden;/*Si hay una imagen mas garande que el contenedor este propiedad lo ajustara al contenedor. */
  }
  
  /* Establecemos un radio de tamano a la imagen. */
  .meme img {
    display: block;
    max-width: 100%;
  }
  
  /*Con esta aremos la posicion el tamano y el color 
  de el texto generado y que se vera en la imagen.*/
  .top-text, .bottom-text {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: #ffffff;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
    padding: 1rem;
  }
  
  /* Arriba */
  .top-text {
    top: 0;
  }
  /* Abajo */
  .bottom-text {
    bottom: 0;
  }
  

  /* El boton delet su posicion y color y tamano */
  .delete-button {
    position: absolute;
    top: 0;
    right: 10;
    background-color: #ff0000;
    color: #fff;
    border: solid;
    font-size: 1.2rem;
    cursor: pointer;
    opacity: 0.7;
  }
  
  
